*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Lato', sans-serif;
}

h1 h2{
    font-family: 'Luxurious Roman', cursive;
}

.header-area{
    display: flex;
}

.main-ariea{
    width: 990px;
    margin: 0 auto;

}

.portfolio-text {
    width: 70%;
    margin-left: 70px;
    margin-top: 70px;
}

.red-border{
    border-left: 3px solid red;
    padding-left: 10px;
    
}

.red-border h2{
    padding-top: 20px;
    
}

.color-title{
    color: green;
}

.portfolio-text p{
    font-size: 20px;
    padding-top: 20px;
}

.btn-read-more{
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    background-color: rgb(82, 5, 92);
    padding:10px;
    border-radius: 10px;
}
.portfolio-img img {
    width: 350px;
    margin-right: 150px;
}

#mission-2022{
    text-align: center;
    padding-top: 100px;
   
}

#mission-2022 p{
    padding: 15px 0 0 0;
}

.mission-heading h1{
    font-size: 50px;
    padding-bottom: 50px;
}

.mission-area{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.image img{
    width: 40%;
    margin-bottom: 15px; 
}

.mission {
    width: 220px;
    height:350px;
    background-color: thistle;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
    padding: 20px;
}

.vssion {
    width: 220px;
    height:350px;
    background-color: thistle;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
    padding: 20px;
}

.goals {
    width: 220px;
    height: 350px;
    background-color: thistle;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
    padding: 20px;
}

.develop-without-limits{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.develop-img img{
    width: 90%;

}

.update-img {
    width: 40%;
}

.paragraph-side p{
    padding-top: 10px;
}

.global-community{
    display: flex;
    margin-top: 100px;
}

.text-global p{
   padding-top: 15px;

}

.image-global img{
    width: 300px;
    padding-left: 20px;
}

.updates{
    display: flex;
    margin-top: 100px;
}

.update-img img{
    width: 80%;
   
}

.update-details{
    width: 80%;
   
}
.update-details {
    width: 68%;
}

.update-details p{
    padding-top: 15px;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
    margin-top: 50px;
}

.footer h2{
    font-family: 'Moon Dance', cursive;
    font-size: 35px;
    padding-top: 25px;
    padding-bottom: 10px;
}

